h1{
    margin-left: 300px;
    margin-top: 100px;
    color: aliceblue;
}

body{
    background-color: rgb(14, 121, 78);
}
.box{
    margin-bottom: 150px;
    width: 60%;
    border: solid 2px black;
    margin: 200px auto;
    display: flex;
    height: 700px;
}

.user_list{
    width: 30%;
    border: solid 2px black;
    background-color: beige;
    padding: 10px 15px;
}

.message{
    width: 70%;
    background-color: rgb(0, 242, 255);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 5px 15px;
}

#message{
    width: 80%;
    height: 35px;

}
.expediteur{
    /* direction: ltr; */
    width: 172px;
    border: solid 2px;
    margin: 5px 0px 5px 200px;
    background-color: rgb(255, 30, 0);
}

.recepteur{
    /* direction: rtl; */
    width: 200px;
        border: solid 2px;
        margin: 5px 0;
        background-color: rgb(154, 175, 17);
}